<div class="row">
    <div class="col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">
               Log In
            </div>
            <div class="card-body">
                <form #ngForm="ngForm" (ngSubmit)="onLogin(ngForm)">
                    <div class="form-group col-12">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" required [(ngModel)]="userName" name="userName">
                    </div>
                    <div class="form-group col-12">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="password" name="password">
                    </div>
                    <div class="form-group col-12">
                        <button [disabled]="!ngForm.valid" type="submit" class="btn btn-primary">Log In</button>
                        <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
                    </div>
                    Form Values: {{ngForm.value | json}} <br />
                    Form Status: {{ngForm.valid}}
                </form>
            </div>
        </div>
    </div>
</div>
